 
#container {

    background-color: rgb(231, 228, 228); height: 33%; padding-top: 2%; padding-bottom: ;
}

.names-company {

   margin-left: 10%;
}
.names-company .name-company {

    font-weight: bold;
}


#container #container-2 .buttons {

    gap: 1%; margin-top: 3%; margin-bottom: 7%;
}

#container #container-2 .buttons button {

    font-weight: bold;
}


#container #container-2 .buttons .btn-back {

color: black;
}

.container-3 {

    padding-bottom: 5%;
}

.container-3 .status  {

    color: white; 
    font-weight: bold; 
    margin-right: 10%;  
    margin-top: 2%; 
    background-color: green; 
    width: 80px; 
    height: 30px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.container-3 hr {

    width: 85%;
}

.container-3 #informations {

    
}

.container-3 #informations .card {
 width: 350px;;
   
}

.container-3 #informations .card .card-header {
font-weight: bold;
    
}


.container-3 #informations #card-2 {

   width: 365px;
    height: 165px
}

.container-3 #informations #card-2 .card-header {

    font-weight: bold;
}

.container-3 #informations #card-2 .list-group #item-1 {

    gap: 10px;
}

.container-3 #informations #card-2 .list-group #item-2 {

    gap: 10px;
}

.container-3 #informations #card-3 {

   width: 350px;
    height: 165px
}

.container-3 #informations #card-3 .card-header {

    font-weight: bold;
}

.container-3 #informations #card-3 .list-group .list-group-item {

    gap: 10px;
}

.container-3 #informations .observations {

    margin-top: 5%;


}


.container-3 #informations .observations .card {
margin-left: 1%; height: 200px; width: 99%;

}

.container-3 #informations .card-header {

    width: 100%; margin-left: -10px;

}



    