


body {

    background: linear-gradient(135deg, #e9ecef, #dee2e6);
}

.container-fluid {

    background-color: black;
}

.navbar div ul li a {

    color: white;
}

.navbar div ul li {

    margin-right: 20px;
}


.navbar div ul li .dropdown-menu  {
    background-color: black;

    
}

.navbar div ul li .dropdown-menu li a {

    background-color: black;

}
.navbar div ul li .dropdown-menu li a:hover {

    background-color: black;
    color: white;
    
}

.navbar div ul .nav-item .nav-link:hover {

    color: white;
    text-decoration: none;
    
}

.navbar div ul .nav-item .nav-link:visited {

    color: white;
    text-decoration: none;
    
}

a img {

    width: 100px;
}

h1 {

    margin-top: 30px;
}

.category {
    margin-top: 3%;
    margin-bottom: 5%;
}

.container {

padding-bottom: 5%;

}


.container .card {

    height: 390px;
}

.container .card .img-category {

     display: flex; align-items: center; justify-content: center; height: 300px;
    
    width: 250px;
  aspect-ratio: 1 / 1; 
  overflow: hidden;
}

.container .card .img-category img {

    width: 100%; height: 100%; object-fit: scale-down;
}

.container .card .card-body hr {
width: 260px;  margin-bottom: 20px;
    
}

.container .card .card-body .button {

    padding-left: 5%;
    padding-right: 5%;
    
}

.container .row-2 {

    margin-top: 5%;
    
}


.container .row-2 .card  {

     height: 390px;
}

.container .row-2 .card .img-category {

     display: flex; 
     align-items: center; 
     justify-content: center; 
     height: 300px;
    
    width: 250px;
  aspect-ratio: 1 / 1; 
  overflow: hidden;

}

.container .row-2 .card .img-category img {

    width:100%; 
    height: 100%; 
    object-fit: scale-down;
}

.container .row-2 .card .card-body hr {

    width: 260px; 
     margin-bottom: 20px;
    


}

