body {

    background: linear-gradient(135deg, #e9ecef, #dee2e6);
}

.btn-add {

     display: flex; 
  align-items: center ; 
  justify-content: end; 
  margin-top: 5%; 
  margin-right: 5%
}

.navbar {

    height: 60px;
}

.container .row .card {
    height: 430px;
}

.container .row .card .img-product {

  display: flex; 
  justify-content: center; 
  align-items: center; 
  height: 400px;
  width: 260px;
  aspect-ratio: 1 / 1; 
  overflow: hidden;



}


.container .row .card .img-product img {

  width: 100%;
  height: 100%;
  object-fit: contain;

}

.container .row .card .card-footer {
margin-top: -10%;
  display: flex;
  align-items: center;
  justify-content: center;
}



